<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steerpath.example">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.steerpath.example.ExampleApplication">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="Steerpath Examples"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:label="About"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".QuickMapActivity"
            android:screenOrientation="portrait"
            android:label="Quick Map"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".BuildingChooserActivity"
            android:screenOrientation="portrait"
            android:label="Choose Building"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".MapActivity"
            android:screenOrientation="portrait"
            android:label="Map"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".SimpleAnnotationActivity"
            android:screenOrientation="portrait"
            android:label="Simple Annotations"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".SimpleNavigationActivity"
            android:screenOrientation="portrait"
            android:label="Simple Navigation"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".GeofenceTransitActivity"
            android:screenOrientation="portrait"
            android:label="Airport Transit/Public"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".GeofenceActivity"
            android:screenOrientation="portrait"
            android:label="Basic Geofence"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".CustomDirectionsUIActivity"
            android:screenOrientation="portrait"
            android:label="Custom UI"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".CustomRouteActivity"
            android:screenOrientation="portrait"
            android:label="Custom Route Renderer"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".FakeLocationActivity"
            android:screenOrientation="portrait"
            android:label="Fake Location"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".EidUpdaterActivity"
            android:screenOrientation="portrait"
            android:label="EID Updater"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".PositioningActivity"
            android:screenOrientation="portrait"
            android:label="Positioning API"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".CustomLocationSourceActivity"
            android:screenOrientation="portrait"
            android:label="Positioning Parameters"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".MetaExampleActivity"
            android:screenOrientation="portrait"
            android:label="Meta Loader"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".CustomOfflineBundleUpdaterActivity"
            android:screenOrientation="portrait"
            android:label="Offline Bundle Updater"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".DirectionsApiActivity"
            android:screenOrientation="portrait"
            android:label="Directions API"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".WaypointsActivity"
            android:screenOrientation="portrait"
            android:label="Waypoints"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".CustomWaypointUIActivity"
            android:screenOrientation="portrait"
            android:label="Custom Waypoint UI"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".NoBeaconZoneActivity"
            android:screenOrientation="portrait"
            android:label="No Beacon Zone"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".LegacyMapViewActivity"
            android:screenOrientation="portrait"
            android:label="Legacy Map"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".SymbolLayerPOIActivity"
            android:screenOrientation="portrait"
            android:label="Symbol Layers and POIs"
            android:parentActivityName=".BuildingChooserActivity"/>

        <activity android:name=".FillExtrusion3DActivity"
            android:screenOrientation="portrait"
            android:label="3D Fill Extrusion"
            android:parentActivityName=".BuildingChooserActivity"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
